
*,
*:after,
*:before {
margin: 0;
padding: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
  box-sizing: border-box;
}

.rivi {
margin:0 auto;
}

.rivi .rivi {
margin-left: -0.65em;
margin-right: -0.65em;
width: auto;
}

[class*='kolumni-'] {
float: left;
position: relative;
padding: 1em;
width:100%;
}


[class*='kolumni-']:last-of-type {
float: right;
}

/* Clearfix */
.rivi:after {
content: "";
display: table;
clear: both;
}
.nyytti:before,
.nyyttii:after {
display: table;
content: " ";
}

.nyytti:after {
clear: both;
}

@media only screen {
.kolumni-1-phone { width: 8.3333333333333%; }
.kolumni-2-phone { width: 16.666666666667%; }
.kolumni-3-phone { width: 25%; }
.kolumni-4-phone { width: 33.333333333333%; }
.kolumni-5-phone { width: 41.666666666667%; }
.kolumni-6-phone { width: 50%; }
.kolumni-7-phone { width: 58.333333333333%; }
.kolumni-8-phone { width: 66.666666666667%; }
.kolumni-9-phone { width: 75%; }
.kolumni-10-phone { width: 83.333333333333%; }
.kolumni-11-phone { width: 91.666666666667%; }
.kolumni-12-phone { width: 100%; }
}

@media only screen and (min-width: 48em) {
.kolumni-1-tablet { width: 8.3333333333333%; }
.kolumni-2-tablet { width: 16.666666666667%; }
.kolumni-3-tablet { width: 25%; }
.kolumni-4-tablet { width: 33.333333333333%; }
.kolumni-5-tablet { width: 41.666666666667%; }
.kolumni-6-tablet { width: 50%; }
.kolumni-7-tablet { width: 58.333333333333%; }
.kolumni-8-tablet { width: 66.666666666667%; }
.kolumni-9-tablet { width: 75%; }
.kolumni-10-tablet { width: 83.333333333333%; }
.kolumni-11-tablet { width: 91.666666666667%; }
.kolumni-12-tablet { width: 100%; }
}

@media only screen and (min-width: 62em) {
.kolumni-1-laptop { width: 8.3333333333333%; }
.kolumni-2-laptop { width: 16.666666666667%; }
.kolumni-3-laptop { width: 25%; }
.kolumni-4-laptop { width: 33.333333333333%; }
.kolumni-5-laptop { width: 41.666666666667%; }
.kolumni-6-laptop { width: 50%; }
.kolumni-7-laptop { width: 58.333333333333%; }
.kolumni-8-laptop { width: 66.666666666667%; }
.kolumni-9-laptop { width: 75%; }
.kolumni-10-laptop { width: 83.333333333333%; }
.kolumni-11-laptop { width: 91.666666666667%; }
.kolumni-12-laptop { width: 100%; }
}

@media only screen and (min-width: 75em) {
.kolumni-1-desktop { width: 8.3333333333333%; }
.kolumni-2-desktop { width: 16.666666666667%; }
.kolumni-3-desktop { width: 25%; }
.kolumni-4-desktop { width: 33.333333333333%; }
.kolumni-5-desktop { width: 41.666666666667%; }
.kolumni-6-desktop { width: 50%; }
.kolumni-7-desktop { width: 58.333333333333%; }
.kolumni-8-desktop { width: 66.666666666667%; }
.kolumni-9-desktop { width: 75%; }
.kolumni-10-desktop { width: 83.333333333333%; }
.kolumni-11-desktop { width: 91.666666666667%; }
.kolumni-12-desktop { width: 100%; }
}

@media only screen and (max-width: 30em){
.kolumni-100 { width:100%;}
}


