*,
*:after,
*:before {
margin: 0;
padding: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*------------------------------------------- 
        LINDEMANIN OMA TYYLI
-------------------------------------------*/

h1, h2, h3, h4, h5, h6{
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
font-weight: 700;
margin: 1em 0 0.35em 0;
}

h1{
font-size: 2em;
}

h2{
font-size: 1.75em;
}

h3{
font-size: 1.5em;
}

h4{
font-size: 1.4em;
}

h5{
font-size: 1.3em;
}

h6{
font-size: 1.2em;
}

small {
font-size: 0.85em;
}

ul li {
padding-left:0; list-style-position:inside;
}

ol li {
padding-left:0; list-style-position:inside;
}

strong, b {
font-weight: bold;
}

em, i {
font-style: italic;
}

p {
margin-bottom: 1em;
}

img {
height: auto;
max-width: 100%;
display: block;
}

blockquote {
border-left: 3px solid grey;
font-size: 1.1em;
font-style: italic;
margin: 0 0 1.250em 1.250em;
padding: 0.625em 1.250em 1.250em;   
}

blockquote p:last-child {
margin-bottom: 0;
}

body {
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
font-size: 1em;
line-height: 1.4;
color: #444;
}

.nyytti {
margin: 0 auto;
width: 96%;
max-width: 73em;
}

.box {
background-color: tomato;
color: #FFF;
padding: 0.625em 0.625em;
text-align: center;
}

header {
width: 100%;
margin: 0 auto;
text-align: center;
}

.esittely {
padding: 5em 0;
text-align: center;
background-color: tomato;
color: white;
}

section {
border-bottom: 1px solid tomato;
margin:0 auto;
}

section:last-of-type {border-bottom: none;}

button {
background-color: green;
border: 1px solid green;
color: white;
padding: inherit;
margin-bottom: 2em;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
border: 0;
padding: 0;
}

a {
color: tomato;
cursor: pointer;
outline: 0;
text-decoration:none;
}

footer {
border-top: 1px solid rgba(0,0,0,0.1);
clear: both;     
margin: 0.625em 0;
padding: 2em 0;
text-align: center;
}

/*------------------------------------------- 
      LOMAKE-ELEMENTIT
-------------------------------------------*/

input,
textarea {

display: block;
border: 1px solid tomato;
margin: 0;
padding: 1%;
margin-bottom: 2em;
outline: none;
width: 100%;
}

input[type=submit] {
background: green;
border: none;
color: #FFF;
cursor: pointer;
display: inline-block;
padding: 1.250em 0.938em;
width: auto;
}

input {
max-width: 12.500rem;
}

textarea {
max-width: 25.000rem;
}

/*------------------------------------------- 
      RUUDUKON TYYLIT (MUOKKAA HARKITEN)
-------------------------------------------*/

.rivi {
margin:0 auto;
}

.rivi .rivi {
margin-left: -0.65em;
margin-right: -0.65em;
width: auto;
}

[class*='kolumni-'] {
float: left;
position: relative;
padding: 1em;
width:100%;
}


[class*='kolumni-']:last-of-type {
float: right;
}

/* Clearfix */
.rivi:after {
content: "";
display: table;
clear: both;
}
.nyytti:before,
.nyyttii:after {
display: table;
content: " ";
}

.nyytti:after {
clear: both;
}

@media only screen {
.kolumni-1-s { width: 8.3333333333333%; }
.kolumni-2-s { width: 16.666666666667%; }
.kolumni-3-s { width: 25%; }
.kolumni-4-s { width: 33.333333333333%; }
.kolumni-5-s { width: 41.666666666667%; }
.kolumni-6-s { width: 50%; }
.kolumni-7-s { width: 58.333333333333%; }
.kolumni-8-s { width: 66.666666666667%; }
.kolumni-9-s { width: 75%; }
.kolumni-10-s { width: 83.333333333333%; }
.kolumni-11-s { width: 91.666666666667%; }
.kolumni-12-s { width: 100%; }
}

@media only screen and (min-width: 48em) {
.kolumni-1-m { width: 8.3333333333333%; }
.kolumni-2-m { width: 16.666666666667%; }
.kolumni-3-m { width: 25%; }
.kolumni-4-m { width: 33.333333333333%; }
.kolumni-5-m { width: 41.666666666667%; }
.kolumni-6-m { width: 50%; }
.kolumni-7-m { width: 58.333333333333%; }
.kolumni-8-m { width: 66.666666666667%; }
.kolumni-9-m { width: 75%; }
.kolumni-10-m { width: 83.333333333333%; }
.kolumni-11-m { width: 91.666666666667%; }
.kolumni-12-m { width: 100%; }
}

@media only screen and (min-width: 62em) {
.kolumni-1-l { width: 8.3333333333333%; }
.kolumni-2-l { width: 16.666666666667%; }
.kolumni-3-l { width: 25%; }
.kolumni-4-l { width: 33.333333333333%; }
.kolumni-5-l { width: 41.666666666667%; }
.kolumni-6-l { width: 50%; }
.kolumni-7-l { width: 58.333333333333%; }
.kolumni-8-l { width: 66.666666666667%; }
.kolumni-9-l { width: 75%; }
.kolumni-10-l { width: 83.333333333333%; }
.kolumni-11-l { width: 91.666666666667%; }
.kolumni-12-l { width: 100%; }
}

@media only screen and (min-width: 75em) {
.kolumni-1-xl { width: 8.3333333333333%; }
.kolumni-2-xl { width: 16.666666666667%; }
.kolumni-3-xl { width: 25%; }
.kolumni-4-xl { width: 33.333333333333%; }
.kolumni-5-xl { width: 41.666666666667%; }
.kolumni-6-xl { width: 50%; }
.kolumni-7-xl { width: 58.333333333333%; }
.kolumni-8-xl { width: 66.666666666667%; }
.kolumni-9-xl { width: 75%; }
.kolumni-10-xl { width: 83.333333333333%; }
.kolumni-11-xl { width: 91.666666666667%; }
.kolumni-12-xl { width: 100%; }
}

@media only screen and (max-width: 30em){
.kolumni-xs { width:100%;}
}

/*------------------------------------------- 
      OMAT FONTIT MÄÄRITELLÄÄN TÄÄLLÄ
-------------------------------------------*/

@font-face {
font-family: 'FONTIN NIMI';
src: url('sijainti/FONTIN NIMI.eot');
src: url('sijainti/FONTIN NIMI.eot?#iefix') format('embedded-opentype'),
url('sijainti/FONTIN NIMI.woff') format('woff'),
url('sijainti/FONTIN NIMI.ttf') format('truetype'),
url('sijainti/FONTIN NIMI.svg#wisdom_script_airegular') format('svg');
font-weight: normal;
font-style: normal;

}
